In [3]:
pwd

'C:\\Users\\USER\\Desktop\\ADS_Assignment\\Pandas_Assignment2'

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('Rural_Urban_Population_By_Age_Sex_and_by_District__2009.csv')
df.head()

,District,Urban/Rural,Age_years,Male,Female,Total,County,Province,OBJECTID
0,NAIROBI WEST,Urban,0,10126,10116,20242,Nairobi,NAIROBI,0
1,NAIROBI WEST,Urban,1,8124,7989,16113,Nairobi,NAIROBI,1
2,NAIROBI WEST,Urban,2,8462,8627,17089,Nairobi,NAIROBI,2
3,NAIROBI WEST,Urban,3,8334,8420,16754,Nairobi,NAIROBI,3
4,NAIROBI WEST,Urban,4,7948,7820,15768,Nairobi,NAIROBI,4

In [6]:
df.tail()

,District,Urban/Rural,Age_years,Male,Female,Total,County,Province,OBJECTID
25415,TESO SOUTH,Rural,77,99,86,185,Busia,WESTERN,25415
25416,TESO SOUTH,Rural,78,63,47,110,Busia,WESTERN,25416
25417,TESO SOUTH,Rural,79,90,121,211,Busia,WESTERN,25417
25418,TESO SOUTH,Rural,80+,384,391,775,Busia,WESTERN,25418
25419,TESO SOUTH,Rural,Age NS,25,23,48,Busia,WESTERN,25419

In [7]:
df.columns

Index(['District', 'Urban/Rural', 'Age_years', 'Male', 'Female', 'Total',
       'County', 'Province', 'OBJECTID'],
      dtype='object')

In [8]:
df.shape

(25420, 9)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25420 entries, 0 to 25419
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   District     25420 non-null  object
 1   Urban/Rural  25420 non-null  object
 2   Age_years    25420 non-null  object
 3   Male         25420 non-null  int64
 4   Female       25420 non-null  int64
 5   Total        25420 non-null  int64
 6   County       25420 non-null  object
 7   Province     25420 non-null  object
 8   OBJECTID     25420 non-null  int64
dtypes: int64(4), object(5)
memory usage: 1.7+ MB

In [10]:
df.isna().mean()

District       0.0
Urban/Rural    0.0
Age_years      0.0
Male           0.0
Female         0.0
Total          0.0
County         0.0
Province       0.0
OBJECTID       0.0
dtype: float64

In [11]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
25415    False
25416    False
25417    False
25418    False
25419    False
Length: 25420, dtype: bool

In [12]:
df[df.duplicated()]

Empty DataFrame
Columns: [District, Urban/Rural, Age_years, Male, Female, Total, County, Province, OBJECTID]
Index: []

In [13]:
df.head()

,District,Urban/Rural,Age_years,Male,Female,Total,County,Province,OBJECTID
0,NAIROBI WEST,Urban,0,10126,10116,20242,Nairobi,NAIROBI,0
1,NAIROBI WEST,Urban,1,8124,7989,16113,Nairobi,NAIROBI,1
2,NAIROBI WEST,Urban,2,8462,8627,17089,Nairobi,NAIROBI,2
3,NAIROBI WEST,Urban,3,8334,8420,16754,Nairobi,NAIROBI,3
4,NAIROBI WEST,Urban,4,7948,7820,15768,Nairobi,NAIROBI,4

In [14]:
df['Age_years'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
25415    False
25416    False
25417    False
25418    False
25419    False
Name: Age_years, Length: 25420, dtype: bool

In [15]:
#What was the average age of a person of Kenya?
df['Age_years'].nunique()

82

In [16]:
df['Age_years'].unique()

array(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45',
       '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56',
       '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67',
       '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78',
       '79', '80+', 'Age NS'], dtype=object)

In [17]:
Age_NS = df[df['Age_years'] == 'Age NS']
Age_NS.shape

(310, 9)

In [18]:
Age_80 = df[df['Age_years'] == '80+']
Age_80.shape

(310, 9)

In [19]:
df.shape

(25420, 9)

In [20]:
Age_use = df.loc[(df['Age_years'] != 'Age NS') & (df['Age_years'] != '80+')]
Age_use.shape

(24800, 9)

In [21]:
Age_use['Age_years'] = pd.to_numeric(Age_use['Age_years'])
Age_use.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24800 entries, 0 to 25417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   District     24800 non-null  object
 1   Urban/Rural  24800 non-null  object
 2   Age_years    24800 non-null  int64
 3   Male         24800 non-null  int64
 4   Female       24800 non-null  int64
 5   Total        24800 non-null  int64
 6   County       24800 non-null  object
 7   Province     24800 non-null  object
 8   OBJECTID     24800 non-null  int64
dtypes: int64(5), object(4)
memory usage: 1.9+ MB

C:\Users\USER\AppData\Local\Temp\ipykernel_2584\1449947632.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Age_use['Age_years'] = pd.to_numeric(Age_use['Age_years'])

In [34]:
df.nunique()

District         158
Urban/Rural        2
Age_years         82
Male            3798
Female          3819
Total           5696
County            47
Province           8
OBJECTID       25420
dtype: int64

In [22]:
Age_use['Age_years'].mean()

39.5

In [23]:
# What was the average female population in Kenya?
Avg_female = df['Female'].mean()
print(Avg_female)

763.8725019669552

In [24]:
#What was the average male population in Kenya?
Avg_male = df['Male'].mean()
print(Avg_male)

755.0140833988985

In [25]:
# Which 5 districts were the most densely populated Kenya in descending order?
Top_district = df.nlargest(10,'Total')
print(Top_district)

          District Urban/Rural Age_years   Male  Female  Total   County  \
108   NAIROBI EAST       Urban        25  21383   23090  44473  Nairobi
113   NAIROBI EAST       Urban        30  23060   18937  41997  Nairobi
189  NAIROBI NORTH       Urban        25  20175   20637  40812  Nairobi
107   NAIROBI EAST       Urban        24  18028   20785  38813  Nairobi
106   NAIROBI EAST       Urban        23  16882   21301  38183  Nairobi
105   NAIROBI EAST       Urban        22  15898   21697  37595  Nairobi
194  NAIROBI NORTH       Urban        30  20554   16771  37325  Nairobi
82    NAIROBI EAST       Urban         0  18237   18163  36400  Nairobi
111   NAIROBI EAST       Urban        28  18264   18054  36318  Nairobi
109   NAIROBI EAST       Urban        26  17238   18413  35651  Nairobi

    Province  OBJECTID
108  NAIROBI       108
113  NAIROBI       113
189  NAIROBI       189
107  NAIROBI       107
106  NAIROBI       106
105  NAIROBI       105
194  NAIROBI       194
82   NAIROBI        82
111  NAIROBI       111
109  NAIROBI       109

In [26]:
df['County'].value_counts()

Kiambu             1476
Kakamega           1148
Meru               1148
Busia               820
Kisii               820
Bungoma             820
Nandi               820
Wajir               656
Garissa             656
Makueni             656
Machakos            656
Kitui               656
Baringo             656
Migori              656
Marsabit            656
Nakuru              656
Laikipia            492
Trans Nzoia         492
Narok               492
Kajiado             492
Bomet               492
Vihiga              492
Samburu             492
West Pokot          492
Turkana             492
Nyamira             492
Uasin Gishu         492
Mandera             492
Homa Bay            492
Kisumu              492
Siaya               492
Murang'a            492
Kwale               492
Kilifi              492
Nyeri               328
Kericho             328
Tana River          328
Nairobi             328
Taita Taveta        328
Elgeyo Marakwet     328
Isiolo              328
Embu                328
Nyandarua           328
Tharaka Nithi       164
Mombasa             164
Kirinyaga           164
Lamu                164
Name: County, dtype: int64

In [50]:
urban_pop = df['Urban/Rural'].str.contains('Urban').sum()
print(urban_pop)

12956

In [67]:
df[df['Urban/Rural'].str.contains('urban')]

Empty DataFrame
Columns: [District, Urban/Rural, Age_years, Male, Female, Total, County, Province, OBJECTID]
Index: []

In [61]:
df.sort_values(by='Total', ascending=False).head(10)

,District,Urban/Rural,Age_years,Male,Female,Total,County,Province,OBJECTID
108,NAIROBI EAST,Urban,25,21383,23090,44473,Nairobi,NAIROBI,108
113,NAIROBI EAST,Urban,30,23060,18937,41997,Nairobi,NAIROBI,113
189,NAIROBI NORTH,Urban,25,20175,20637,40812,Nairobi,NAIROBI,189
107,NAIROBI EAST,Urban,24,18028,20785,38813,Nairobi,NAIROBI,107
106,NAIROBI EAST,Urban,23,16882,21301,38183,Nairobi,NAIROBI,106
105,NAIROBI EAST,Urban,22,15898,21697,37595,Nairobi,NAIROBI,105
194,NAIROBI NORTH,Urban,30,20554,16771,37325,Nairobi,NAIROBI,194
82,NAIROBI EAST,Urban,0,18237,18163,36400,Nairobi,NAIROBI,82
111,NAIROBI EAST,Urban,28,18264,18054,36318,Nairobi,NAIROBI,111
109,NAIROBI EAST,Urban,26,17238,18413,35651,Nairobi,NAIROBI,109

In [62]:
# Which 5 counties were the most densely populated Counties in descending order?
grouped_pop1 = df.groupby('County' )['Total'].sum().nlargest(5)
print(grouped_pop1)

County
Nairobi     3138369
Kiambu      1673785
Kakamega    1660651
Nakuru      1603325
Meru        1591533
Name: Total, dtype: int64

In [29]:
# What was the total population of Busia County?
Busia_pop = df[df['County'] == 'Busia']['Total'].sum()
print(Busia_pop)

743946

In [30]:
df['Total'].mean()

1518.8865853658538

In [37]:
df['Total'].sum()

38610097

In [32]:
# What was the average population of the the most sparsely populated county in Kenya?
grouped_pop = df.groupby('County')['Total'].mean().nsmallest(5)
print(grouped_pop)

County
Isiolo        436.871951
Marsabit      443.850610
Samburu       455.176829
Lamu          619.140244
Tana River    731.935976
Name: Total, dtype: float64

In [38]:
# What was the average age of person in Busia County? How many people of this age were in Busia County?
Avg_pop_Busia = df[df['County'] == 'Busia']['Age_years'].mean()
print(Avg_pop_Busia)

01234567891011121314151617181920212223242526272829303132333435363738394041424344454647484950515253545556575859606162636465666768697071727374757677787980+Age NS01234567891011121314151617181920212223242526272829303132333435363738394041424344454647484950515253545556575859606162636465666768697071727374757677787980+Age NS01234567891011121314151617181920212223242526272829303132333435363738394041424344454647484950515253545556575859606162636465666768697071727374757677787980+Age NS01234567891011121314151617181920212223242526272829303132333435363738394041424344454647484950515253545556575859606162636465666768697071727374757677787980+Age NS01234567891011121314151617181920212223242526272829303132333435363738394041424344454647484950515253545556575859606162636465666768697071727374757677787980+Age NS01234567891011121314151617181920212223242526272829303132333435363738394041424344454647484950515253545556575859606162636465666768697071727374757677787980+Age NS01234567891011121314151617181920212223242526272829303132333435363738394041424344454647484950515253545556575859606162636465666768697071727374757677787980+Age NS01234567891011121314151617181920212223242526272829303132333435363738394041424344454647484950515253545556575859606162636465666768697071727374757677787980+Age NS01234567891011121314151617181920212223242526272829303132333435363738394041424344454647484950515253545556575859606162636465666768697071727374757677787980+Age NS01234567891011121314151617181920212223242526272829303132333435363738394041424344454647484950515253545556575859606162636465666768697071727374757677787980+Age NS

In [39]:
#What was the Total population of Teso South District?
df[df['District']=='TESO SOUTH']['Total'].sum()

137924

In [45]:
#What was the urban population of Teso South District?
Teso_urban_pop = df[df['District']=='TESO SOUTH']& df[df['Urban/Rural'] == 'Urban'].mean()
print(Teso_urban_pop)

C:\Users\USER\AppData\Local\Temp\ipykernel_2584\3095332521.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Teso_urban_pop = df[df['District']=='TESO SOUTH']& df[df['Urban/Rural'] == 'Urban'].mean()

TypeError: unsupported operand type(s) for &: 'str' and 'bool'